<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h2><center>Mashinalar ro'yxati</center></h2>
<ol>
    {%for car in cars%}
        <li>Name:<a href="{% url 'detail' car.id %}">{{car.name}}</a>. Price:{{car.price}} </li>

    {%endfor%}
</ol>
</body>
</html>